<h1 class="display-4" style = "color:#FF7851"><b>Welcome to the Workouts User hub</b></h1>

<div class="jumbotron">

  <h3 class = "display-4" align = 'left' style = "color: #343a40"> Scroll down to view user ideas and give your views on them<br/> </h3>

 </div>

<br/>


<div class="row">

  <div class="column">

    <div class="card"  style= "height: 1500px; width: 300px">

      <img src="" alt="Avatar" style="width:100%">

      <div class="card-body">

        <h4><b></b></h4> 

        <p></p> 

        <p></p>

      </div>

  </div>

  </div>

</div>







<div class="row">

  <div class="card" style= "height: 1500px; width: 300px">

      <img src="" alt="Avatar" style="width:100%">

      <div class="card-body">

        <h4><b></b></h4> 

        <h6 align= "left"><b></b></h6>

        <p></p> 

        <h6 align= "left"><b></b></h6>

        <p></p>

      </div>

 </div>

</div>



<div class="row">

    <div class="card" style= "height: 1500px; width: 300px">

        <img src="" alt="Avatar" style="width:100%">

        <div class="card-body">

            <h4><b></b></h4>

          <p></p>

          <p></p>

        </div>

    </div>

  </div>

  <div class="row">

      <div class="card" style= "height: 1500px; width: 300px">

          <img src="" alt="Avatar" style="width:100%">

          <div class="card-body">

            <h4><b></b></h4>

            <p></p>

          </div>

      </div>
  </div>